

#fixed_nav{
    background-color: #B0E0E6;
}


.description-top{
    color: white;
    display: block;
}


#content-main{
    top: 700px;
    background: #def0fd;
}


#content-container{
    background: #8ce6c8;
}


.top-card{
    border-bottom: 1px solid #392605;
}

.history_back{
    color: #60f127;
}

.history_back:hover{
    color: #54b12f;
}


footer{
    background-color: #6495ED;
} 

.footer-link:hover{
   text-shadow: 0 0 6px #CCFFFF,0 0 12px #33FFFF;
}
 