

#fixed_nav{
  background-color: #98FB98;
}


#content-main{
  background: #E6FFE9;
}


#lens::before{ 
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,255,0,.4) 100%);
}


#content-container{
  background: #66CC66;

}


.policy-heading{
  background: #E6FFE9;/*背景色*/
  border-left: solid 5px #669933;/*左線（実線 太さ 色）*/
}



.history_back{
  color: #40E0D0;
}

.history_back:hover{
  color: #5F9EA0;
}


footer{
  background-color: #669933;
} 


.footer-link:hover{
  text-shadow: 0 0 6px #98FB98,0 0 12px #2E8B57;
}
