 

 
 #fixed_nav{
   background-color: #fdcea7;
 }
 
 

 /********************* header タイトル部分 ↑↑↑ *********************/
 
 #content-main{
   background: #f7d9fc;
 }
 

 
 /**************** content-containerのアニメーション部分 ↓↓↓ ******************/
 

 
 #content-container{
   background: #fd9886;

 }

 
 /**************** content-containerのアニメーション部分 ↑↑↑ ******************/


 .policy-heading{
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #f7d9fc;/*背景色*/
  border-left: solid 5px #f07854;/*左線（実線 太さ 色）*/
}

 
 .history_back{
   color: rgb(219, 216, 30);
 }
 
 .history_back:hover{
   color: rgb(182, 179, 42);
 }

 footer{
   background-color: #f07854;
 } 
 
 
 .footer-link:hover{
   text-shadow: 0 0 6px #fad5b7,0 0 12px #bd6044;
 }
