

/************ sns ↑↑↑ ***********/

.fa-facebook{
   color: #dcdcdc;
}

.fa-twitter{
   color: #dcdcdc;
}

.fa-line{
   color: #dcdcdc;
}


/******************* profileページ ******************/
.profile{
   top: 200px;
}

#one .row,
#two .row, 
#three .row{
   padding-left: 5rem;
}


.profile_logo{
   position: absolute;
   width: 100%;
   height: auto;
   top: 5rem;
}

.history_back_2{
   color: #ff8c00;
   font-size: 15px;
   font-weight: bold;
   text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.history_back_2:hover{
   color: #b8860b;
}

#h3-nav{
   font-family: 'Amasis MT Pro Black', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 700;
   font-size: 2rem;
}

#my-name{
   font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','游明朝体+36ポかな',
   'YuMincho +36p Kana','ＭＳ 明朝', 'MS Mincho','ＭＳ Ｐ明朝','MS PMincho',sans-serif;
   font-size: 2rem;
}

.cart{
   background: #ADFF2F;
}

.bottom-line{
   border-bottom: 1px solid #ADFF2F;
}

.border-h3{
   
   letter-spacing: 0.2em;
}

.writing{
   letter-spacing: 0.2em;
   line-height: 3em;
   padding-left: 9rem;
}

.p_writing{
   letter-spacing: 0.2em;
   line-height: 2em;
}

@media only screen and (max-width: 780px) {

   .karisuto{
      justify-content: center !important;
   }


   #one,
   #two, 
   #three{
       padding-left: 0;
       margin-left: 0;
   }

   .writing{
       padding-left: 4rem; 
   }

   .cart{
       display: none;
   }

   #my-name{
       justify-content: center !important;
       left: 4rem;
   }

   .p_writing{
       padding-left: 4rem;
   }

}


@media only screen and (max-width: 420px) {

   #my-name{
      font-size: 1.1rem !important;
   }



   .profile .row .col-3:nth-of-type(1){
       display: none;
   }

   .writing{
       padding-left: 1rem; 
   }

   #profile-eria section .row:nth-of-type(1),
   #profile-eria section .row:nth-of-type(2),
   #profile-eria section .row:nth-of-type(3){
       padding-left: 1rem !important;
   }

   .p_writing{
       padding-left: 0;
   }

   .fa-facebook,
   .fa-line,
   .fa-twitter{
      margin-right: 0 !important;
   }


}

