
.wrraper{
    overflow: hidden; 
}


nav{
   position: relative;
   padding: 0;
   width: 100%;
   height: 700px;
   z-index: 1; 
}


img{
   max-width: 100%;
   height: auto;
}

#modalShop,
.modal-body{
   letter-spacing: 0.2em;
   line-height: 1.2em;
}

#modalShop{
   font-weight: bold;
}

.c_name{
   font-size: 20px;
}




@media only screen and (max-width: 420px) {

   h1, h2, h3, h4, button{
       font-size: 60% !important;
   }

   body{
       font-size: 60%;
   }

   a{
       font-size: 40% !important;
   }

   ::placeholder{
       font-size: 60%;
   }

   input{
       font-size: 60% !important;
   }

   small{
       font-size: 40%;
   }

   span{
       font-size: 0.2rem !important;
   }

   .material-icons-outlined{
       font-size: 80% !important;
   }

   input{
       max-width: 30% !important;
       height: 2rem !important;
   }

   select{
       max-width: 30% !important;
       height: 2rem !important;
   }

   .history_back,
   .history_back_2{
       font-size: 0.8em !important;
   }

}


/************ ロゴのきらりと光るアニメーション↓↓↓ ***********/
.logo_link{
   position: relative; 
   text-decoration: none;
   outline: none;
   overflow: hidden; 
}

/* .logo_link:before{
   content: '';
   position: absolute;
   top: -20px;
   left: -160%;
   width: 10px;
   height: 52px;
   background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
   transform: skewX(-25deg);
} 

.logo_link:hover::before{
   animation: shine 0.7s;
}

@keyframes shine{
   100%{
       left: 125%;
   }
} */

@media only screen and (max-width: 420px){
   .logo_link{
       width: 70px;
       height: auto;
   }

   .text-right{
       height: 100% !important;
   }

   #my-name{
       font-size: 12px !important;
       font-weight: 800;
   }
} 

/************ ロゴのきらりと光るアニメーション ↑↑↑ ***********/

.fa-facebook{
   color: #dcdcdc;
}

.fa-twitter{
   color: #dcdcdc;
}

.fa-line{
   color: #dcdcdc;
}


/* hoverしたときに色を変えない仕様 */
.fa-facebook:hover{
   color: #dcdcdc;
   transform: scale(1.3);
   transition-duration: 0.5s;
}

.fa-twitter:hover{
   color: #dcdcdc;
   transform: scale(1.3);
   transition-duration: 0.5s;
}

.fa-line:hover{
   color: #dcdcdc;
   transform: scale(1.3);
   transition-duration: 0.5s;
}

#black_out{
   height: 700px;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.3);
}

#fixed_nav{
   background-color: #f2f28c;
   -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}



/****** 右から左に文字が流れる ******/
.animation-info{
   display: none; 
   font-size:1.5em;         /*文字サイズ*/
   color: #333;              /*文字の色*/
   text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
   position: relative;
   padding-left: 100%;
   white-space: nowrap;
   animation: marquee 14s linear infinite;
   letter-spacing: 0.2em; 
   font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",
   "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial, Helvetica, sans-serif;
}


@keyframes marquee {
   from {
       transform: translate(100%);
   }
   to {
       transform: translate(-200%);
   }
}

.board{
   top: 5px;
   height: 3.7em;
   background: #d9e5f2;
   box-shadow:0px 3px 8px 3px #ccc inset;
   overflow: hidden;

}

@media only screen and (max-width:780px){
   .board{
       left: 10%;
   }
   .animation-info{
       top: 10%;
       font-size: 1.3em;
   }
}

@media only screen and (max-width:420px){
   .board{
       height: 5.7em;
   }

   .animation-info{
       font-size: 1.3em;
   }
}

/****** 右から左に文字が流れる ↑↑↑　******/


/*キラッと光る*/
.aInfo::before {
   content: '';
     /*絶対配置でキラッと光るの位置を決める*/
   position: absolute;
   top: 0;
   left: -75%;
     /*キラッと光る形状*/
   width: 50%;
   height: 100%;
   color: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
   transform: skewX(-25deg);
   animation: shine 0.7s;
 } 

@keyframes shine {
   100% {
       left: 125%;
   }
}

/********************* header タイトル部分 ↓↓↓ *********************/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.header-eria{
   height: 300px;
   top: 150px; 
   font-family: 'Josefin Sans', sans-serif; 
   text-align: center;
   position: absolute;   
}

.header-eria.-visible:before {
   transform: translate(0, 0);
 }
 
.header-eria:before {
   display: block;
   position: absolute; 
   top: 0;
   left: 0;
   transform: translate(0, 100%);
   transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
   content: '';
}

.midashi-top{
   font-weight: bold;
   font-size: 42px; 
   color: white;
   letter-spacing: 2px; 
   display: block;
   opacity: 0; 
   transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
   transform: translate(0, 40px);
   transition-delay: 0.25s; 
}

.header-title{
   opacity: 0;  
   transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
   transform: translate(0, 30px);
   transition-delay: 0.45s;
   letter-spacing: 0.2em; 
   line-height: 1.6em;
   font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",
   "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial, Helvetica, sans-serif;
}

/* PC表示では改行しない仕様 */
.header-title br{
   display: none;
}

.description-top{
   opacity: 0;  
   transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
   transform: translate(0, 30px);
   transition-delay: 0.45s; 
}

.header-eria.-visible .midashi-top{
   opacity: 1;
   transform: translate(0, 0);
}

.header-eria.-visible .header-title{
   opacity: 1;
   transform: translate(0, 0);
}

.header-eria.-visible .description-top{
   opacity: 1;
   transform: translate(0, 0);
}

@media only screen and (max-width: 780px) {
   .header-title{
       font-size: 30px !important;
   }

   .description-top{
       font-size: 15px !important;
   }

   /* max-width: 400px の時だけ改行して表示 */
   .header-title br{
       display: inline-block;
   }


}


@media only screen and (max-width: 420px) {
   .header-title{
       font-size: 15px !important;
   }

   /* max-width: 400px の時だけ改行して表示 */
   .header-title br{
       display: inline-block;
   }
}



/********************* header タイトル部分 ↑↑↑ *********************/

#content-main{
   background: #f9fdba;
   width: 100%;   
   z-index: 2;
}

#content_row{
   margin: auto 0;
}



/**************** content-containerのアニメーション部分 ↓↓↓ ******************/



#lens{
   text-decoration: none;
   outline: none; 
   display: inline;
   color: 	#2F4F4F;
   box-shadow:0px 3px 8px 3px #ccc inset;

}

#lens::before{ 
   border-radius: 50%;  
   background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
   transform: skewX(-25deg);
}

#content-container.-visible_2:before {
   transform: translate(0, 0);
}

#content-container::before{
   display: block;
   position: absolute; 
   top: 0;
   left: 0;
   opacity: 0;
   transform: translate(0, 100%);
   transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s; 
}

#content-container{
   top: -200px;  
   z-index: 3;
   background: #decc54;
   padding-top: 70px;
   padding-bottom: 100px; 
   border-radius: 20px;  
   filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.6));  
   opacity: 0;
   transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
   transform: translate(0, 40px);
   transition-delay: 0.25s; 
}

#content-container.-visible_2{
   opacity: 1;
   transform: translate(0, 0);
}

#smart-dis{
   border-radius: 3px; 
   box-shadow:0px 3px 8px 3px #ccc inset; 
}

.smart-button{
   display: inline;
   background: #FFF;
   height: 60px;
   width: 60px;
   border: 5px solid #C0C0C0;
   border-radius: 50%;
   box-shadow:0px 0px 5px 2px #ccc inset;
}


@media only screen and (max-width: 420px) {
   .smart-button{
       width: 40px;
       height: 40px;
   }
}

/**************** content-containerのアニメーション部分 ↑↑↑ ******************/

h2{
   font-family: 'Tsukushi A Round Gothic', 'Tsukushi B Round Gothic', 'YuGothic', 'Hiragino Sans';
}

.horizon {
   position: relative;
   height: 3px;
   border-width: 0;
   background-color: #00bcd4;
   background-image: -webkit-linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
   background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
 }
 

#content-h2,
#keys-h2,
#calendar-h2,
#maps-h2,
#privacy-h1,
.contact-h2{
   margin-bottom: 20px;
   font-size: 3em;
   line-height:0.95em;
   letter-spacing: 0.3em;
   font-weight:bold;
   text-shadow:
       0 0.03em 0.03em #FFAB91,
       0 0.03em 0.03em #000,
       0 0.03em 0.03em #FBE9E7;
} 




/****** 「 お得を探す 」「 話題・キーワード 」部分 ↓↓↓ *******/

.form-content{
   margin-top: 35px;
}

.search-schedule,
.search-select{
   border-radius: 3px;
}

#search-form,
#keys-form,
#maps-form{
   margin-top:1.5rem;
}

.tooltip-inner{
   background: #fbd4cb;
   color: #000;
   padding: 12px;
}

.tooltip.arrow{
   background: #fbd4cb;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
   border-top-color: #fbd4cb;
   border-width: .6rem .6rem 0; 
}


.kensaku-btn{
   margin-right: 1rem;
   vertical-align: top !important;
   background-color: #e5ed5a;
   -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.kensaku-btn:hover{
   background: #dcf66a;
}



.keys-container{
   text-align: center;
   z-index: 4;
}

.b-style{
   border-radius: 25px;
   height: 50px;
   min-width: 150px;
   display: inline-block;
   background-color: #e5ed5a;
   -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.b-style:hover{
   background: #dcf66a;
}


@media only screen and (max-width: 780px) {
   #content-h2,
   #keys-h2,
   #calendar-h2,
   #maps-h2{
       font-size: 1.8em !important;
   }

   .kensaku-btn{
       width: 9rem !important;
   } 

   #search-shop{
       width: 17rem !important;
   }

}


@media only screen and (max-width: 420px) {

   #content-h2,
   #keys-h2,
   #calendar-h2,
   #maps-h2{
       font-size: 1.5em !important;
   }

   #search-form{
       width: 80% !important;
       height: auto !important; 
   }

   .top-card .row{
       justify-content: start;
   }

   .b-style{
       height: 30px !important;
       min-width: 30% !important;
       margin: 0.2rem !important;
   }

   #search-schedule,
   #search-shop,
   #kensaku-map{
       margin-right: 5px !important;
   }

   #search-schedule{
       max-width: 4rem !important;
   }

   #search-shop{
       max-width: 12rem !important;
   }

   .kensaku-btn{
       max-width: 4rem !important;
   }

   .top-card{
       padding-top: 50px !important;
   }

   #search-form{
       margin-top: 0;
   }

}

/****** 「 お得を探す 」「 話題・キーワード 」部分 ↑↑↑ *******/




/******************* calendar ↓↓↓　**********************/

a.fc-daygrid-event{
   padding: 0.5em 1em;
   margin: 2em 0;
   color: #474747;
   background: #CEF9DC;/*背景色*/
   border-left: double 7px #000066;/*左線*/
   border-top: none;
   border-bottom: none;
   border-right: none;
}


div.fc-event-title-container{
   z-index: 2;
}

div .fc-event-title {
   white-space: normal;
   color: captiontext;
} 


div.fc-header-toolbar{
   margin-top: 48px !important;
}

/* タイトルの先頭にあった「all-day」とかいう表示 */
.fc-list-event-time{
   display: none;
}


button.fc-prev-button,
button.fc-today-button,
button.fc-next-button,
button.fc-dayGridMonth-button, 
button.fc-listweek-button{
   background-color: #dcf66a !important;
   border: none !important;
   color: black !important;
   -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}


thead{
   background-color: #f9fdba;
}

.fc-col-header-cell.fc-day-sat{
   background-color: #AFEEEE;
}

.fc-col-header-cell.fc-day-sun{
   background-color: #FFE4E1;
}


.fc-toolbar-title{
   font-size: 1.8em !important;
   letter-spacing: 0.12em;
}

.fc-list-day-side-text{
   letter-spacing: 0.1em;
}


@media only screen and (max-width: 780px) {
   .fc-toolbar-title{
       font-size: 1em !important;
       letter-spacing: 0.07em;
   }
}


@media only screen and (max-width: 420px) {
   .fc-toolbar-title{
       font-size: 0.7em !important;
       letter-spacing: 0.07em;
   }

   button.fc-button,
   button.fc-next-button{
       width: 20%;
       height: 40%;
   }
}

/******************* calendar ↑↑↑　**********************/


/******************* maps **********************/

#reset-btn{
   /* width: 90px;
   height: 38px; */
   margin-bottom: 5px; 
   background: #f9fdba;
   -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#reset-btn:hover{
   background: #fafad2;
}

#maps-container{
   /* padding: 2rem; */
   margin: 1rem;
   z-index: 4;
}


#map_search{
   border-radius: 5px;
}



/* 　　　infowindowのCSS　　　 */
.gm-style-iw {
   width: 250px !important;
   top: 15px !important;
   left: 0 !important;
   background-color: #fff;
}

.firstHeading {
    background-color: #ff8c00;    
    color: #fff;
    margin: 0;
    padding: 20px;
}

.info_Content {
    padding: 10px 10px 20px 10px;
    font-size: 16px;
}

.modal-mDate{
    letter-spacing: 0.1em;
}

.spTitle{
    font-size: 20px;
}

/* .spSubtitle{
   letter-spacing: 0.1em;
} */


.gm-style-iw{
   top: 0 !important;
   border-radius: 0 !important;
} 

/* 吹き出し下の　下三角（▼）を操作*/
.gm-style-iw::after{
   display:none;
}


/* 吹き出し部の、スクロールバーを除く*/
.gm-style-iw-d{
   overflow:unset !important
}


/* 吹き出しの背景の余白を調整（スクロールバーを削ったので、余白を入れて見栄えを整える*/
.gm-style-iw-c{
   overflow:unset !important;
   padding: 0 !important;
}
   


/* デフォルトの消すボタンを非表示 */
.gm-ui-hover-effect img{
   display: none !important;
}

/* fontawesomeの消すボタン */
.gm-ui-hover-effect:before{
   font-family: "Font Awesome 5 Free";
   font-size: 28px !important;
   color: #000099;
   content: "\f057";
}


/* PC対応 */
@media only screen and (min-width: 1200px) {
   .gm-style-iw {
       width: 300px !important;
   }
   .content {
       width: 300px;
   }

   
}

@media only screen and (max-width: 420px) {

   #maps-form{
       width: 80% !important;
       height: auto !important; 
   }

   #map_search{
       max-width: 70% !important; 
       margin-right: 5px !important;
   }

   #kensaku-map{
       margin-top: 0 !important;
   }

   #reset-btn{
       width: 25% !important;
       padding: 5px 0 !important;
   }

   .firstHeading{
       font-size: 12px;
   }

}

/******************* maps ↑↑↑↑↑↑ **********************/



.top_down{
   position: fixed;
   right: 50px;
   top: 400px;
   color: #ff8c00;
   font-size: 15px;
   font-weight: bold;
   text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   z-index: 4;
}

.top_down:hover{
   color: #b8860b;
}


/***** 別ページ用（プライバシーポリシー）↓↓↓ *****/
.history_back{
   position: fixed;
   right: 50px;
   bottom: 150px;
   color: #ff8c00;
   font-size: 15px;
   font-weight: bold;
   text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   z-index: 4;
}

.history_back:hover{
   color: #b8860b;
}

.policy-conta{
   line-height: 2.5em;
   letter-spacing: 0.2em;
}


@media only screen and (max-width: 780px) {
   #privacy-h1{
       font-size: 1.8em;
   }

   .policy-conta{
       padding: 5rem 0 !important;
   }

   .policy-heading{
       font-size: 1.3em !important;
   }
}

@media only screen and (max-width: 420px) {
   #privacy-h1{
       font-size: 1.7em !important;
   }

   #smart-dis{
       padding: 0 !important;
   }

   .policy-conta{
       font-size: 0.8em !important;
       width: 90%;
       padding-left: 0 !important;
   }

   .sengen{
       padding: 1rem;
   }

   .policy-heading{
       font-size: 1.2em !important;
   }

}





/***** 別ページ用（プライバシーポリシー）↑↑↑ *****/



/* 「 イベントあり 」のチカチカ */
.impact{
   display: inline-block;
   color: #FFFFFF;
   background-color: #CC0000;
   font-size: 11px;
   font-weight: bold;
   -webkit-animation-name: bg-change;
   -webkit-animation-duration: 0.5s;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-delay: 0s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
   animation-name: bg-change;
   animation-duration: 0.5s;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
/* ↑ のbg-changeの前半と後半の色の間隔 */
@-webkit-keyframes bg-change {
   from {
     background-color: #CC0000;
 }
   to {
     background-color: #FF2222;
 }
}
@keyframes bg-change {
   0% {
     background-color: #CC0000;
 }
   100% {
     background-color: #FF2222;
 }
}


#fixed-button{
   position: fixed;
}


footer{
   bottom: 0;
   background-color: #decc54;
} 

.cart{
   color: #43bb2a;
}


.footer-main{
   padding-left: 1rem; 
   border-left: 6px solid #d2691e;
}

.footer-link{
   color:#000;
}


.policy-heading{
   padding: 0.5em;/*文字周りの余白*/
   color: #494949;/*文字色*/
 background: #f9fdba;/*背景色*/
 border-left: solid 5px #decc54;/*左線（実線 太さ 色）*/
}



/* @media only screen and (max-width: 780px) {
   .contact-h2{
       font-size: 2rem;
   }

}  */

@media only screen and (max-width: 420px) {


} 


/******************* お問い合わせフォーム関係 ***********************/
.contact-btn{
   margin-right: 1rem;
   vertical-align: top !important;
   background: #e5ed5a;
   -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.contact-btn:hover{
   background: #dcf66a;
}

.contact-back{
   margin-right: 1rem;
   vertical-align: top !important;
   background: #f9fdba;
   -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.contact-back:hover{
   background: #fafad2;
}

.footer-link:hover{
   text-decoration: none;
   text-shadow: 0 0 10px blue,0 0 15px blue;
   transition: 0.5s;
}


@media only screen and (max-width: 780px) {
   .contact-h2{
       font-size: 2rem;
   }

} 

@media only screen and (max-width: 420px) {
   .contact-h2{
       font-size: 0.8em;
       margin-top: 50px;
   }

   .contact-btn{
       font-size: 80%;
       width: 90px !important;
       height: 30px !important;
   }

   label{
       font-size: 0.6rem;
   }

   textarea{
       font-size: 0.6em !important;
       width: 100% !important;
       height: auto !important;
   }

   .contact-input{
       max-width: 100% !important;
       /* height: 2rem !important; */
   } 

   .conta-container{
       margin-bottom: 3rem;
   }


} 





/******************* profileページ ******************/
.profile_logo{
   position: absolute;
   width: 100%;
   height: auto;
   top: 5rem;
}

.history_back_2{
   color: #ff8c00;
   font-size: 15px;
   font-weight: bold;
   text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.history_back_2:hover{
   color: #b8860b;
}

#h3-nav{
   font-family: 'Amasis MT Pro Black', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 700;
   font-size: 2rem;
}

#my-name{
   font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','游明朝体+36ポかな',
   'YuMincho +36p Kana','ＭＳ 明朝', 'MS Mincho','ＭＳ Ｐ明朝','MS PMincho',sans-serif;
   font-size: 2rem;
}

.cart{
   background: #ADFF2F;
}

.bottom-line{
   border-bottom: 1px solid #ADFF2F;
}

.border-h3{
   
   letter-spacing: 0.2em;
}

.writing{
   letter-spacing: 0.2em;
   line-height: 3em;
   padding-left: 9rem;
}

.p_writing{
   letter-spacing: 0.2em;
   line-height: 2em;
}

@media only screen and (max-width: 780px) {
   #one,
   #two, 
   #three{
       padding-left: 0;
       margin-left: 0;
   }

   .writing{
       padding-left: 4rem; 
   }

   .cart{
       display: none;
   }

   .europa{
       margin-left: 4.5rem;
       width: 40%;
   }

   #my-name{
       justify-content: start !important;
       left: 2rem;
   }

   .p_writing{
       padding-left: 4rem;
   }

}


@media only screen and (max-width: 420px) {

   .profile .row .col-3:nth-of-type(1){
       display: none;
   }

   .writing{
       padding-left: 1rem; 
   }

   #profile-eria section .row:nth-of-type(1),
   #profile-eria section .row:nth-of-type(2),
   #profile-eria section .row:nth-of-type(3){
       padding-left: 1rem !important;
   }

   .p_writing{
       padding-left: 0;
   }

   .europa{
       margin-left: 4.5rem;
       width: 60%;
   }


}




/******************* 各社カードの案内 ******************/

.slash::before,
.slash::after {
 content: "";
 width: 25px;
 height: 2px;
 background-color: #000;
 margin: 0px 4px 4px;
}

.slash::before {
 transform: rotate(45deg);
}

.slash::after {
 transform: rotate(-45deg);
}

.card_link{
   border-bottom: 1px solid #000;
}


.kakuten{
   font-size: 16px;
   font-weight: bold;
}

.cLink{
   font-size: 23px;
}