


#fixed_nav{
    background-color: #ffd1e8;
    
}


#content-main{
    top: 700px;
    background: #fde3e5;
}


.original{
    max-width: 70px;
    height: auto;
}


.bottom-line{
    border-bottom: 2px solid #43bb2a;
}

.p_writing,
.writing{
    letter-spacing: 0.2em;
    line-height: 3em;
}

.border-h3{
    letter-spacing: 0.2em;
    font-size: 28px;
}

#my-name{
    letter-spacing: 0.2em;
    font-family: "serif","ＭＳ Ｐ明朝", "ＭＳ 明朝", "HG正楷書体-PRO";
    font-weight: 700;
}

@media only screen and (max-width: 420px){
    .writing{
        padding-left: 0 !important;
    }

    .p_wri{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .original{
        max-width: 50px;
    }

    .border-h3{
        font-size: 18px !important;
    }
}


@media only screen and (max-width: 320px){
    .cart{
        padding-right: 5px !important;
    }
}

/**************** content-container部分 ↓↓↓ ******************/


#content-container{
    background: #ebc1b0;
}


section div h3{
    display: inline;
}



/**************** content-container部分 ↑↑↑ ******************/


.kensaku-btn{
    width: 120px;
    height: 37px;
    background-color: #ffd1e8;
}

.kensaku-btn:hover{
    background: #fdaad3;
}



.history_back{
    color: #fd8d72;
}

.history_back:hover{
    color: #fec5a5;
}


footer{
    background-color: #e39c68;
} 

 
 .footer-link:hover{
    text-shadow: 0 0 6px #FF99FF,0 0 12px #FF66CC;
 }

 