
.wrraper{
    overflow: hidden;
}


nav{
    position: relative;
    padding: 0;
    width: 100%;
    height: 700px;
    z-index: 1;

}

#fixed_nav{
    background-color: #f2f28c;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/****** 右から左に文字が流れる ******/
#fixed_nav p{
    display: none;
    margin-top: 5px; 
    font-size:1.5em;         /*文字サイズ*/
    color: #006400;              /*文字の色*/
    animation: flowing 12s linear infinite;    /*アニメーション*/
    transform:translateX(100%);     /*最初の位置*/
}

@keyframes flowing {
    100% {
      transform:translateX(-100%);    /*終了の位置*/
    }
}
/********************* header タイトル部分 ↓↓↓ *********************/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.header-eria{
    height: 300px;
    top: 100px; 
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    /* flex-direction: column;    */
    position: absolute;   
    /* overflow: hidden; */
}

.header-eria.-visible:before {
    transform: translate(0, 0);
  }
  
.header-eria:before {
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
    transform: translate(0, 100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
    content: '';
}

.midashi-top{
    font-weight: bold;
    font-size: 42px; 
    color: white;
    letter-spacing: 2px; 
    display: block;
    opacity: 0; 
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 40px);
    transition-delay: 0.25s; 
}

.description-top{
    color: white;
    display: block;
    opacity: 0;  
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 30px);
    transition-delay: 0.45s; 
}

.header-eria.-visible .midashi-top{
    opacity: 1;
    transform: translate(0, 0);
}

.header-eria.-visible .description-top{
    opacity: 1;
    transform: translate(0, 0);
}

/********************* header タイトル部分 ↑↑↑ *********************/






#content-main{
    background: #f9fdba;
    width: 100%;   
    z-index: 2;
}

#content_row{
    margin: auto 0;
}



.search-schedule,
.search-select{
    border-radius: 3px;
}

/**************** content-containerのアニメーション部分 ↓↓↓ ******************/

#content-container.-visible_2:before {
    transform: translate(0, 0);
}

#content-container:before{
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, 100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
    content: '';
}

#content-container{
    top: -200px;  
    z-index: 3;
    border-radius: 30px;  
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.6));  
    opacity: 0;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 40px);
    transition-delay: 0.25s; 
}

#content-container.-visible_2{
    opacity: 1;
    transform: translate(0, 0);
}

/**************** content-containerのアニメーション部分 ↑↑↑ ******************/


.top-card{
    border-bottom: 1px solid #392605;
}

#content-h3{
    margin: 20px 0;
}

.form-content{
    margin-top: 35px;
}


.tooltip-inner{
    background: #fbd4cb;
    color: #000;
    padding: 12px;
}

.tooltip.arrow{
    background: #fbd4cb;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #fbd4cb;
    border-width: .6rem .6rem 0; 
}

/* div.fc-event-title.tooltip-inner{
    background-color: yellow;
    color: #000;
    padding: 12px;
} */

/* div.fc-event-title.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: yellow;
    border-width: .6rem .6rem 0;
} */





.kensaku-btn{
    margin-right: 1rem;
    vertical-align: top !important;
    background-color: #e5ed5a;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.kensaku-btn:hover{
    background: #dcf66a;
}

#reset-btn{
    width: 100px;
    height: 42px;
    margin-top: 5px;
    vertical-align: top !important;
    background: #f9fdba;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#reset-btn:hover{
    background: #fafad2;
}

.keys-container{
    padding: 2rem 0;
    text-align: center;
    z-index: 4;
    border-bottom: 1px solid #392605;
}

.b-style{
    border-radius: 25px;
    height: 50px;
    min-width: 150px;
    display: inline-block;
    background-color: #e5ed5a;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.b-style:hover{
    background: #dcf66a;
}


/******************* maps **********************/



#maps-container{
    padding: 2rem;
    margin: 1rem;
    z-index: 4;
    border-top: 1px solid #392605;
}

#maps-h3{
    margin: 15px;
} 

#map_search{
    border-radius: 5px;
}



/* 　　　infowindowのCSS　　　 */
.gm-style-iw {
    width: 250px !important;
    top: 15px !important;
    left: 0 !important;
    background-color: #fff;
 }
 
 .firstHeading {
     background-color: #ff8c00;    
     color: #fff;
     margin: 0;
     padding: 20px;
 }
 
 .info_Content {
     padding: 10px 10px 20px 10px;
     font-size: 16px;
 }
 
 /* 閉じるボタンのCSS */
 /* .closebtn {
     width: 30px!important;
     height: 30px!important;
     opacity: 1!important;
     right: 35px!important;
     top: 0!important;
 } */
 
 /* 閉じるボタンを消す */
/* .custum-iw{
    width: 230px !important;
} */

/* .gm-style-iw-d,
.gm-style-iw-c{
    display: none;
}*/

.gm-style-iw{
    top: 0 !important;
    border-radius: 0 !important;
} 

/* 吹き出し下の　下三角（▼）を操作*/
.gm-style-iw::after{
    display:none;
}


/* 吹き出し部の、スクロールバーを除く*/
.gm-style-iw-d{
    overflow:unset !important
}


/* 吹き出しの背景の余白を調整（スクロールバーを削ったので、余白を入れて見栄えを整える*/
.gm-style-iw-c{
    overflow:unset !important;
    padding: 0 !important;
}
    


/* デフォルトの消すボタンを非表示 */
.gm-ui-hover-effect img{
    display: none !important;
}

/* fontawesomeの消すボタン */
.gm-ui-hover-effect:before{
    font-family: "Font Awesome 5 Free";
	font-size: 28px !important;
    color: #000099;
	content: "\f057";
}

 
 /* PC対応 */
 @media only screen and (min-width: 1200px) {
    .gm-style-iw {
        width: 300px !important;
    }
    .content {
        width: 300px;
    }
 }

/******************* ↑↑↑↑↑↑ **********************/



.top_down{
    position: fixed;
    right: 50px;
    top: 400px;
    color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 4;
}

.top_down:hover{
    color: #b8860b;
}

/* .history_back{
    position: fixed;
    right: 50px;
    bottom: 150px;
    color: 	#9ACD32;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 4;
}

.history_back:hover{
    color: #4c58eb;
} */


/* 「 イベントあり 」のチカチカ */
.impact{
    display: inline-block;
    color: #FFFFFF;
    background-color: #CC0000;
    font-size: 11px;
    font-weight: bold;
    -webkit-animation-name: bg-change;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: bg-change;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* ↑ のbg-changeの前半と後半の色の間隔 */
@-webkit-keyframes bg-change {
    from {
      background-color: #CC0000;
  }
    to {
      background-color: #FF2222;
  }
}
@keyframes bg-change {
    0% {
      background-color: #CC0000;
  }
    100% {
      background-color: #FF2222;
  }
}


/* #ribbon{
    position: absolute;
    top: -10px;
    left: 20px;
    display: inline-block;
    width: 52px;
    height: 50px;
    text-align: center; 
    background: #fa4141;
    box-shadow: 1px 1px 5px;
}

#ribbon:before,
#ribbon:after{
    position: absolute;
    content: '';
}

#ribbon:before{
    right: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d90606;
}

#new{
    position: absolute;
    top: 10px;
    left: 5px;
} */

/* #ribbon:after{
    top: 50%;
    left: 0;
    display: block;
    height: 50%;
    border: 1em solid #fa4141;
    border-bottom-width: 15px;
    border-bottom-color: transparent;
} */

#fixed-button{
    position: fixed;
}



/******************* calendar **********************/

a.fc-daygrid-event{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: #CEF9DC;/*背景色*/
    border-left: double 7px #000066;/*左線*/
    border-top: none;
    border-bottom: none;
    border-right: none;
}


div.fc-event-title-container{
    z-index: 2;
}

div .fc-event-title {
    white-space: normal;
    color: captiontext;
} 


div.fc-header-toolbar{
    margin-top: 48px !important;
}

button.fc-prev-button,
button.fc-today-button,
button.fc-next-button,
button.fc-dayGridMonth-button, 
button.fc-listweek-button{
    background-color: #dcf66a !important;
    border: none !important;
    color: black !important;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}


thead{
    background-color: #f9fdba;
}

.fc-col-header-cell.fc-day-sat{
    background-color: #AFEEEE;
}

.fc-col-header-cell.fc-day-sun{
    background-color: #FFE4E1;
}


.fc-toolbar-title{
    font-size: 1.8em !important;
    letter-spacing: 0.12em;
}



footer{
    bottom: 0;
    background-color: #decc54;
} 

.cart{
    color: #43bb2a;
}

.facebook{
	color: #1778f2;
}

.twitter{
    color: #1da1f2;
}

.line_button{
	color: #00b900;
}
