
.wrraper{
    overflow: hidden;
}


nav{
    position: relative;
    padding: 0;
    width: 100%;
    height: 700px;
    z-index: 1; 
}

.facebook{
    z-index: 2;
	color: #1778f2;
}

.twitter{
    z-index: 2;
    color: #1da1f2;
}

.line_button{
    z-index: 2;
	color: #00b900;
}

/************ ロゴのきらりと光るアニメーション↓↓↓ ***********/
.logo_link{
    position: relative; 
    display: inline-block; 
    text-decoration: none;
    outline: none;
    overflow: hidden;
}

.logo_link:before{
    content: '';
    position: absolute;
    top: 0;
    left: -80%;
    width: 74px;
    height: 62px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
} 

.logo_link:hover::before{
    animation: shine 0.7s;
}

@keyframes shine{
    100%{
        left: 125%;
    }
}

/************ ロゴのきらりと光るアニメーション ↑↑↑ ***********/



/* hoverしたときに色を変えない仕様 */
.facebook:hover{
	color: #1778f2;
}

.twitter:hover{
    color: #1da1f2;
}

.line_button:hover{
	color: #00b900;
}


.facebook:hover,
.twitter:hover,
.line_button:hover{
    transform: scale(1.3);
    transition-duration: 0.5s;
}


#black_out{
    height: 700px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

#fixed_nav{
    background-color: #f2f28c;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}



/****** 右から左に文字が流れる ******/
.animation-info{
    display: none; 
    font-size:1.5em;         /*文字サイズ*/
    color: #333;              /*文字の色*/
    position: relative;
}

.animation-info .aInfo{
    font-weight: bold;
    justify-content: center;
    padding-top: 10px;
    margin-left: 15px;
}

/*キラッと光る*/
.aInfo::before {
    content: '';
      /*絶対配置でキラッと光るの位置を決める*/
    position: absolute;
    top: 0;
    left: -75%;
      /*キラッと光る形状*/
    width: 50%;
    height: 100%;
    color: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    animation: shine 0.7s;
  } 

@keyframes shine {
    100% {
        left: 125%;
    }
}

/********************* header タイトル部分 ↓↓↓ *********************/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.header-eria{
    height: 300px;
    top: 150px; 
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    position: absolute;   
}

.header-eria.-visible:before {
    transform: translate(0, 0);
  }
  
.header-eria:before {
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
    transform: translate(0, 100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
    content: '';
}

.midashi-top{
    font-weight: bold;
    font-size: 42px; 
    color: white;
    letter-spacing: 2px; 
    display: block;
    opacity: 0; 
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 40px);
    transition-delay: 0.25s; 
}

.header-title{
    opacity: 0;  
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 30px);
    transition-delay: 0.45s;
    letter-spacing: 0.1em; 
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",
    "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, Arial, Helvetica, sans-serif;
}

.description-top{
    opacity: 0;  
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 30px);
    transition-delay: 0.45s; 
}

.header-eria.-visible .midashi-top{
    opacity: 1;
    transform: translate(0, 0);
}

.header-eria.-visible .header-title{
    opacity: 1;
    transform: translate(0, 0);
}

.header-eria.-visible .description-top{
    opacity: 1;
    transform: translate(0, 0);
}



/********************* header タイトル部分 ↑↑↑ *********************/

#content-main{
    background: #f9fdba;
    width: 100%;   
    z-index: 2;
}

#content_row{
    margin: auto 0;
}



.search-schedule,
.search-select{
    border-radius: 3px;
}



/**************** content-containerのアニメーション部分 ↓↓↓ ******************/

#content-container.-visible_2:before {
    transform: translate(0, 0);
}

#content-container:before{
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, 100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
    content: '';
}

#content-container{
    top: -200px;  
    z-index: 3;
    border-radius: 20px;  
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.6));  
    opacity: 0;
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 40px);
    transition-delay: 0.25s; 
}

#content-container.-visible_2{
    opacity: 1;
    transform: translate(0, 0);
}

/**************** content-containerのアニメーション部分 ↑↑↑ ******************/

h2{
    font-family: 'Tsukushi A Round Gothic', 'Tsukushi B Round Gothic', 'YuGothic', 'Hiragino Sans';
}

.horizon {
    position: relative;
	height: 3px;
	border-width: 0;
	background-color: #00bcd4;
	background-image: -webkit-linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
	background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
  }
  

#content-h2,
#keys-h2,
#calendar-h2,
#maps-h2,
#privacy-h1,
.contact-h2{
    margin-bottom: 20px;
    font-size: 3em;
	line-height:0.95em;
    letter-spacing: 0.3em;
	font-weight:bold;
	text-shadow:
		0 0.03em 0.03em #FFAB91,
		0 0.03em 0.03em #000,
		0 0.03em 0.03em #FBE9E7;
} 

.form-content{
    margin-top: 35px;
}

#search-form,
#keys-form,
#maps-form{
    margin-top:1.5rem;
}

.tooltip-inner{
    background: #fbd4cb;
    color: #000;
    padding: 12px;
}

.tooltip.arrow{
    background: #fbd4cb;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #fbd4cb;
    border-width: .6rem .6rem 0; 
}


.kensaku-btn{
    margin-right: 1rem;
    vertical-align: top !important;
    background-color: #e5ed5a;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.kensaku-btn:hover{
    background: #dcf66a;
}



.keys-container{
    text-align: center;
    z-index: 4;
}

.b-style{
    border-radius: 25px;
    height: 50px;
    min-width: 150px;
    display: inline-block;
    background-color: #e5ed5a;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.b-style:hover{
    background: #dcf66a;
}


/******************* maps **********************/

#reset-btn{
    /* width: 90px;
    height: 38px; */
    margin-bottom: 5px; 
    background: #f9fdba;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#reset-btn:hover{
    background: #fafad2;
}

#maps-container{
    padding: 2rem;
    margin: 1rem;
    z-index: 4;
}


#map_search{
    border-radius: 5px;
}



/* 　　　infowindowのCSS　　　 */
.gm-style-iw {
    width: 250px !important;
    top: 15px !important;
    left: 0 !important;
    background-color: #fff;
 }
 
 .firstHeading {
     background-color: #ff8c00;    
     color: #fff;
     margin: 0;
     padding: 20px;
 }
 
 .info_Content {
     padding: 10px 10px 20px 10px;
     font-size: 16px;
 }
 

.gm-style-iw{
    top: 0 !important;
    border-radius: 0 !important;
} 

/* 吹き出し下の　下三角（▼）を操作*/
.gm-style-iw::after{
    display:none;
}


/* 吹き出し部の、スクロールバーを除く*/
.gm-style-iw-d{
    overflow:unset !important
}


/* 吹き出しの背景の余白を調整（スクロールバーを削ったので、余白を入れて見栄えを整える*/
.gm-style-iw-c{
    overflow:unset !important;
    padding: 0 !important;
}
    


/* デフォルトの消すボタンを非表示 */
.gm-ui-hover-effect img{
    display: none !important;
}

/* fontawesomeの消すボタン */
.gm-ui-hover-effect:before{
    font-family: "Font Awesome 5 Free";
	font-size: 28px !important;
    color: #000099;
	content: "\f057";
}

 
 /* PC対応 */
 @media only screen and (min-width: 1200px) {
    .gm-style-iw {
        width: 300px !important;
    }
    .content {
        width: 300px;
    }
 }

/******************* ↑↑↑↑↑↑ **********************/



.top_down{
    position: fixed;
    right: 50px;
    top: 400px;
    color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 4;
}

.top_down:hover{
    color: #b8860b;
}


/***** 別ページ用（プライバシーポリシー）↓↓↓ *****/
.history_back{
    position: fixed;
    right: 50px;
    bottom: 150px;
    color: #ff8c00;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 4;
}

.history_back:hover{
    color: #b8860b;
}
/***** 別ページ用（プライバシーポリシー）↑↑↑ *****/



/* 「 イベントあり 」のチカチカ */
.impact{
    display: inline-block;
    color: #FFFFFF;
    background-color: #CC0000;
    font-size: 11px;
    font-weight: bold;
    -webkit-animation-name: bg-change;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: bg-change;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* ↑ のbg-changeの前半と後半の色の間隔 */
@-webkit-keyframes bg-change {
    from {
      background-color: #CC0000;
  }
    to {
      background-color: #FF2222;
  }
}
@keyframes bg-change {
    0% {
      background-color: #CC0000;
  }
    100% {
      background-color: #FF2222;
  }
}


#fixed-button{
    position: fixed;
}



/******************* calendar **********************/

a.fc-daygrid-event{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: #CEF9DC;/*背景色*/
    border-left: double 7px #000066;/*左線*/
    border-top: none;
    border-bottom: none;
    border-right: none;
}


div.fc-event-title-container{
    z-index: 2;
}

div .fc-event-title {
    white-space: normal;
    color: captiontext;
} 


div.fc-header-toolbar{
    margin-top: 48px !important;
}

/* タイトルの先頭にあった「all-day」とかいう表示 */
.fc-list-event-time{
    display: none;
}


button.fc-prev-button,
button.fc-today-button,
button.fc-next-button,
button.fc-dayGridMonth-button, 
button.fc-listweek-button{
    background-color: #dcf66a !important;
    border: none !important;
    color: black !important;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}


thead{
    background-color: #f9fdba;
}

.fc-col-header-cell.fc-day-sat{
    background-color: #AFEEEE;
}

.fc-col-header-cell.fc-day-sun{
    background-color: #FFE4E1;
}


.fc-toolbar-title{
    font-size: 1.8em !important;
    letter-spacing: 0.12em;
}

.f-facebook{
    color: #C0C0C0;
}

.f-twitter{
    color: #C0C0C0;
}

.f-line_button{
    color: #C0C0C0;
}

.f-facebook:hover{
	color: #1778f2;
}

.f-twitter:hover{
    color: #1da1f2;
}

.f-line_button:hover{
	color: #00b900;
}

footer{
    bottom: 0;
    background-color: #decc54;
} 

.cart{
    color: #43bb2a;
}


.footer-main{
    padding-left: 1rem; 
    border-left: 6px solid #d2691e;
}

.footer-link{
    color:#000;
}


.policy-heading{
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
  background: #f9fdba;/*背景色*/
  border-left: solid 5px #decc54;/*左線（実線 太さ 色）*/
}


/**** お問い合わせフォーム関係 ****/
.contact-btn{
    margin-right: 1rem;
    vertical-align: top !important;
    background: #e5ed5a;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.contact-btn:hover{
    background: #dcf66a;
}

.contact-back{
    margin-right: 1rem;
    vertical-align: top !important;
    background: #f9fdba;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.contact-back:hover{
    background: #fafad2;
}

.footer-link:hover{
    text-decoration: none;
    text-shadow: 0 0 10px blue,0 0 15px blue;
    transition: 0.5s;
}



/******************* profileページ ******************/
.profile_logo{
    width: 100%;
    height: auto;
}

#h3-nav{
    font-family: 'Amasis MT Pro Black', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

#my-name{
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','游明朝体+36ポかな',
    'YuMincho +36p Kana','ＭＳ 明朝', 'MS Mincho','ＭＳ Ｐ明朝','MS PMincho',sans-serif;
    font-size: 2rem;
}

.cart{
    background: #ADFF2F;
}

.border-h3{
    border-bottom: 1px solid #ADFF2F;
}


/******************* 各社カードの案内 ******************/

.slash::before,
.slash::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 0px 4px 4px;
}
 
.slash::before {
  transform: rotate(45deg);
}
 
.slash::after {
  transform: rotate(-45deg);
}

.card_link{
    border-bottom: 1px solid #000;
}


.kakuten{
    font-size: 16px;
    font-weight: bold;
}

.cLink{
    font-size: 23px;
}