html{
    height: auto;
    width: auto;
}


body{
    height: auto;
    width: auto;
}


.wrraper{
    height: 100%;
    width: 100%;
}


nav{
    position: relative;
    padding: 0;
    width: 100%;
    height: 700px;
    z-index: 1;

}

header{
    background-color: #6bd1e6;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}


/********************* header タイトル部分 ↓↓↓ *********************/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.header-eria{
    height: 300px;
    top: 160px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    flex-direction: column; 
    justify-content: center;
    position: absolute;
    overflow: hidden;
}

.header-eria.-visible:before {
    transform: translate(0, 0);
  }
  
.header-eria:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 100%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
    content: '';
}

.midashi-top{
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 2px;
    color: black;
    display: block;
    opacity: 0; 
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 40px);
    transition-delay: 0.25s; 
}

.description-top{
    color: black;
    display: block;
    opacity: 0;  
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s, opacity linear 0.7s;
    transform: translate(0, 30px);
    transition-delay: 0.45s; 
}

.header-eria.-visible .midashi-top{
    opacity: 1;
    transform: translate(0, 0);
}

.header-eria.-visible .description-top{
    opacity: 1;
    transform: translate(0, 0);
}

/********************* header タイトル部分 ↑↑↑ *********************/



#content-main{
    top: 700px;
    background: #def0fd;
    width: 100%;
    z-index: 2;
}



.search-select{
    border-radius: 3px;
}

#content-container{
    top: -200px;
    z-index: 3;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.6));
}

.top-card{
    border-bottom: 1px solid #392605;
}

#content-h3{
    margin: 20px 0;
}

.form-content{
    margin-top: 35px;
}

.tooltip-inner{
    background-color: #fbd4cb;
    color: #000;
    padding: 12px;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #fbd4cb;
    border-width: .6rem .6rem 0;
}

.kensaku-btn{
    width: 120px;
    height: 37px;
    background-color: #e5ed5a;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.kensaku-btn:hover{
    background: #dcf66a;
}

.keys-container{
    padding: 2rem 0;
    text-align: center;
    z-index: 4;
    border-bottom: 1px solid #392605;
}

.b-style{
    border-radius: 25px;
    height: 50px;
    min-width: 150px;
    display: inline-block;
    background-color: #6bd1e6;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.b-style:hover{
    background: #6be6e3;
}


#maps-container{
    padding: 2rem;
    z-index: 4;
}

.maps-h3{
    margin: 15px;
} 

/* #map-input{
    width: 950px;
    text-align: center;
    margin: 30px 0 20px 0;
} */

#map-select{
    width: 140px;
    height: 40px;
    border-radius: 3px;
}

#map{
    text-align: center;
}

.history_back{
    position: fixed;
    right: 50px;
    bottom: 150px;
    color: #60f127;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 4;
}

.history_back:hover{
    color: #54b12f;
}

.itiran{
    border-radius: 5px;
    width: 840px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#itiran-card{
    display: inline-block !important;
}

#itiran-card:nth-child(odd){
    background-color: #EDFFBE;
}

#itiran-card:nth-child(even){
    background-color: #FFEEFF;
}

#ribbon{
    position: absolute;
    top: -10px;
    left: 20px;
    display: inline-block;
    width: 52px;
    height: 50px;
    text-align: center; 
    background: #fa4141;
    box-shadow: 1px 1px 5px;
}

#ribbon:before,
#ribbon:after{
    position: absolute;
    content: '';
}

#ribbon:before{
    right: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d90606;
}

#new{
    position: absolute;
    top: 10px;
    left: 5px;
}

/* #ribbon:after{
    top: 50%;
    left: 0;
    display: block;
    height: 50%;
    border: 1em solid #fa4141;
    border-bottom-width: 15px;
    border-bottom-color: transparent;
} */

#fixed-button{
    position: fixed;
}

footer{
    bottom: 0;
    background-color: #7eb3d7;
} 

.cart{
    color: #43bb2a;
}

 